*,
*::before,
*::after {
    position: relative;
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}

html {
    /* 1 rem = 10px
       why ? => default font-size is 16px * (62.5/100) = 10px */
    font-size: 62.5%;

    /* width < 1200?
       1rem = 9px, 9/16 = 56.25% */
    @include respond(tab-land) {
        // font-size: 56.25%;
        font-size: 62.5%;
    }

    /* width < 900?
       1 rem = 8px, 8/16 = 50% */
    @include respond(tab-port) {
        // font-size: 50%;
        font-size: 56.25%;
    }

    /* width < 600?
       1 rem = 6px, 6/16 = 37.5% */
    @include respond(phone) {
        // font-size: 37.5%;
        font-size: 56.25%;
    }

    /* 1rem = 12px, 12/16 = 75% */
    @include respond(big-desc) {
        // font-size: 75%;
        font-size: 62.5%;
    }

}

body {
    min-width: 100vw;
    min-height: 100vh;
}

.frame {
    width: 900px;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);

    @include respond(tab-port) {
        width: 100vw;
    }

    @include respond(phone) {
        width: 100vw;
    }
}

